/*Alignments */
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.dir-ltr{
    direction: ltr;
}
.dir-rtl{
    direction: rtl;
}
/* /Alignment */

/* Border */
.border1px{
    border: 1px solid black;
}
.Border2px{
    border: 2px solid black;
}
.border3px{
    border: 3px solid black;
}
.border1px-dashed{
    border: 1px dashed black;
}
.border2px-dashed{
    border: 2px dashed black;
}
.border3px-dashed{
    border: 3px dashed black;
}
/* /Border */

/* Background Colors */
.bg-white{
    background-color: white;
}
.bg-black{
    background-color: black;
}
.bg-green{
    background-color: green; 
}
.bg-red{
    background-color: red;
}
.bg-cyan{
    background-color: cyan;
}
.bg-eee{
    background-color: #eee;
}
/* /Background Colors */
/* Height & Width */
.full-height{
    height: 100%;
}
.full-width{
    width: 100%;
}
/* /Height & Width */

/* Text Colors */
.text-yellow{
    color: yellow !important;
}
/* /Text Colors */