@media(min-width: 570px) {
    .search-nav {
        position: absolute;
        left: 0;
    }
    .searchButton{
        margin-left: 5px;
        margin-right: 5px;
    }
}
@media(max-width: 570px){
    .searchButton{
        margin-top: 10px;
    }
}
html{
    height: 100%;
    background-color: #eee;
    overflow-x: hidden;
    font-family: 'Vazir', sans-serif !important;
}
body{
    height: 100%;
    padding-top: 50px;

    font-family: 'Vazir', sans-serif !important;
}
.splash{
    background-color: #eee;
    height: 100%;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.intro-box{
    background-color: rgba(0, 0, 0, 0.2);
}
.enter-btn{
    width: 10%;
    margin-top: 25%;
}